<div id="top" class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/" title="Angel Shares Explorer"><span class="brand-name">Angel Shares Explorer</span></a>
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="nav-collapse collapse navbar-responsive-collapse">
        <ul class="nav">
          <li class="<%= class_current(controller_name, 'home') %>"><a href="/">Dashboard</a></li>
          <li class="<%= class_current(page_name, 'balances_show') %>"><a href="#balance_lookup" data-toggle="modal">Balance</a></li>
          <li class="<%= class_current(page_name, 'balances_masterbook') %>"><a href="/masterbook/btc">Master Book</a></li>
          <li class="<%= class_current(controller_name, 'notifications') %>"><a href="#notification" data-toggle="modal">Notification</a></li>
        </ul>
        <div class="nav pull-right">
          <p class="navbar-text">UTC: <span id="utc_now"><%= display_time(Time.now) %></span></p>
        </div>
      </div>
    </div>
  </div>
</div>