<h3 class="<%= network.to_s == 'pts' ? 'pull-right' : '' %>"><%= network.upcase %></h3>
<table class="table table-striped table-condensed table-hover" data-network="<%= network %>">
  <tbody>
    <tr>
      <th colspan="2">Today</th>
    </tr>
    <tr>
      <td>Total Donated <small>(so far)</small></td>
      <td><%= dcp(donated_today(network), network) %></td>
    </tr>
    <tr>
      <td>Avg. Daily Donation</td>
      <td><%= dcp(@daily_data["#{network}_avg".to_sym], network) %></td>
    </tr>
    <tr>
      <td>Current Price <small>est.</small></td>
      <td><%= dcp(Ags.daily_issue.to_f / donated_today(network) * Ags::COIN, network).gsub(network.to_s.upcase, "AGS / #{network.to_s.upcase}").html_safe %></td>
    </tr>
    <tr>
      <td>Donation Efficiency</td>
      <td><span id="<%= network %>_e" class="label">100%</span></td>
    </tr>
    <tr>
      <td>AGS to Issue</td>
      <td><%= dcp(Ags.daily_issue(network), "ags") %></td>
    </tr>
    <tr>
      <th colspan="2">Summary</th>
    </tr>
    <tr>
      <td>Total Donated</td>
      <td><%= dcp(@daily_data["#{network}_total".to_sym], network) %></td>
    </tr>
    <tr>
      <td>Total AGS Rewarded</td>
      <td><%= dcp(Ags.issued(network), "ags") %></td>
    </tr>
  </tbody>
</table>
