<h3 class="<%= network.to_s == 'pts' ? 'pull-right' : '' %>"><%= network.upcase %></h3>
<table class="table table-striped table-condensed table-hover" data-network="<%= network %>">
  <tbody>
    <tr>
      <th colspan="2">Today</th>
    </tr>
    <tr>
      <td>Donated</td>
      <td><%= donated_today(network) %></td>
    </tr>
    <tr>
      <td>Avg. Daily Donation</td>
      <td><%= @daily_data["#{network}_avg".to_sym] %></td>
    </tr>
    <tr>
      <td>Advantage</td>
      <td></td>
    </tr>
    <tr>
      <td>AGS to Issue</td>
      <td><%= Ags.daily_issue(network) %></td>
    </tr>
    <tr>
      <th colspan="2">Summary</th>
    </tr>
    <tr>
      <td>Total Donated</td>
      <td><%= @daily_data["#{network}_total".to_sym] %></td>
    </tr>
    <tr>
      <td>Total AGS Rewarded</td>
      <td><%= Ags.issued(network) %></td>
    </tr>
    <tr>
      <th colspan="2">Calculater</th>
    </tr>
    <tr>
      <td>I want to donate</td>
      <td>
        <form class="form-inline">
          <input type="text" class="input-small" placeholder="Amount">
          <button type="submit" class="btn">Calculate</button>
        </form>
      </td>
    </tr>
    <tr>
      <td>Percentage / AGS to obtain<small>EST.</small></td>
      <td>13.2% / 23</td>
    </tr>
  </tbody>
</table>
