<h3 class="<%= network.to_s == 'pts' ? 'pull-right' : '' %>"><%= network.upcase %></h3>
<table class="table table-striped table-condensed table-hover overview" data-network="<%= network %>">
  <tbody>
    <tr>
      <th colspan="2">Today</th>
    </tr>
    <tr>
      <td>Current Rate <small>est.</small></td>
      <td style="font-size:1.5em;"><span class="symolizable" data-type="ags_<%= network %>" data-cur="ags_<%= network %>" data-value="<%= @data[:"#{network}_current_price"] %>">
        <%= dcp(@data[:"#{network}_current_price"], network).gsub(network.to_s.upcase, "AGS / #{network.to_s.upcase}").html_safe %>
      </span></td>
    </tr>
    <tr>
      <td>Donated Today / Average</td>
      <% slowness = (100.0 * @data[:"today_#{network}_donated"] / @daily_data["#{network}_avg".to_sym]).round() %>
      <td>
        <span class="symolizable label label-<%= slowness < 100 ? "success" : "important" %>"
          data-type="<%= network %>" data-cur="<%= network %>" data-value="<%= @data[:"today_#{network}_donated"] %>">
        <%= dcp(@data[:"today_#{network}_donated"], network) %>
        </span> / <span class="symolizable" data-type="<%= network %>" data-cur="<%= network %>" data-value="<%= @daily_data["#{network}_avg".to_sym] %>">
        <%= dcp(@daily_data["#{network}_avg".to_sym], network) %>
        </span>
        <abbr title="<%= (slowness - 100).abs %>% <%= slowness < 100 ? "favorable" : "unfavorable" %> to donor against average day">[?]</abbr>
    </td>
    </tr>
    <tr>
      <td>Donation Efficiency <abbr title="By querying bter's pts_btc exchange rate, to find out donate which currency is more favorable.">[?]</abbr></td>
      <td><span id="<%= network %>_e" class="label">100%</span> <abbr id="abbr_<%= network %>" title="">[?]</abbr></td>
    </tr>
    <tr>
      <td>AGS to Issue</td>
      <td><%= dcp(Ags.daily_issue(network), "ags") %></td>
    </tr>
    <tr>
      <th colspan="2">Summary</th>
    </tr>
    <tr>
      <td>Total Donated</td>
      <td><span class="symolizable" data-type="<%= network %>" data-cur="<%= network %>" data-value="<%= @daily_data["#{network}_total".to_sym] %>">
        <%= dcp(@daily_data["#{network}_total".to_sym], network) %>
      </span></td>
    </tr>
    <tr>
      <td>Total AGS Rewarded</td>
      <td><%= dcp(Ags.issued(network), "ags") %></td>
    </tr>
    <tr>
      <td>Fund Usage</td>
      <td><%= link_to "view google doc", donation_usage_link(network), :target => "_blank" %></td>
    </tr>
  </tbody>
</table>

<div style="text-align:center;clear:both;">
<a href="#donate_<%= network %>" data-toggle="modal" class="btn btn-primary">Donate <%= network.to_s.upcase %> Now</a>
</div>
