<h3 class="<%= network.to_s == 'pts' ? 'pull-right' : '' %>"><%= network.upcase %></h3>
<table class="table table-striped table-condensed table-hover" data-network="<%= network %>">
  <tbody>
    <tr>
      <th colspan="2">Today</th>
    </tr>
    <tr>
      <td>Donated Today <small>(so far)</small></td>
      <td><%= dcp(Donation.today_donated(network), network) %></td>
    </tr>
    <tr>
      <td>Avg. Daily Donation</td>
      <td><%= dcp(@daily_data["#{network}_avg".to_sym], network) %></td>
    </tr>
    <tr>
      <td>Current Price <small>est.</small></td>
      <td><%= dcp(Donation.current_price(network), network).gsub(network.to_s.upcase, "AGS / #{network.to_s.upcase}").html_safe %></td>
    </tr>
    <tr>
      <td>Donation Efficiency <abbr title="By querying bter's pts_btc exchange rate, to find out donate which currency is more favorable.">[?]</abbr></td>
      <td><span id="<%= network %>_e" class="label">100%</span> <abbr id="abbr_<%= network %>" title="">[?]</abbr></td>
    </tr>
    <tr>
      <td>AGS to Issue</td>
      <td><%= dcp(Ags.daily_issue(network), "ags") %></td>
    </tr>
    <tr>
      <th colspan="2">Summary</th>
    </tr>
    <tr>
      <td>Total Donated</td>
      <td><%= dcp(@daily_data["#{network}_total".to_sym], network) %></td>
    </tr>
    <tr>
      <td>Total AGS Rewarded</td>
      <td><%= dcp(Ags.issued(network), "ags") %></td>
    </tr>
  </tbody>
</table>
