<h3 class="<%= network.to_s == 'pts' ? 'pull-right' : '' %>"><%= network.upcase %></h3>
<table class="table table-striped table-condensed table-hover overview" data-network="<%= network %>">
  <tbody>
    <th>Donations</th>
    <th>&nbsp;</th>
    <tr>
      <td>Total Pre-saled</td>
      <td><%= dcp(@summary[network][:total], network) %></td>
    </tr>
    <tr>
      <td>Total Transactions</td>
      <td><%= number_with_delimiter @summary[network][:count] %></td>
    </tr>
    <tr>
      <td>Daily Average Amount</td>
      <td><%= dcp(@summary[network][:total].to_i / @summary[network][:count].to_i, network) %></td>
    </tr>
    <th>Issuance</th>
    <th>&nbsp;</th>
    <tr>
      <td>Total Pre-sale Days</td>
      <td>60</td>
    </tr>
    <tr>
      <td>Daily NOTE Issued</td>
      <td><%= dcp(MusicPresale.daily_issue(network), "note") %></td>
    </tr>
    <tr>
      <td>Total Bitshares Music Note Pre-sale Planned</td>
      <td><%= dcp(MusicPresale.daily_issue(network) * 60, "note") %></td>
    </tr>

  </tbody>
</table>