<% unless donation.confirmed? %>
<% rate = PlayDonation.current_price %>
<tr>
  <td><%= display_time donation.time %></td>
  <td><%= donation_with_related_addrs(donation).html_safe %></td>
  <td><%= link_to 'tx', external_tx_path(donation.txbits, network), :target => "_blank" %></td>
  <td><%= dcp(donation.amount, network) %></td>
  <td><%= dcp(@today_total_play_donated, network) %></td>
  <td><%= dcp(rate, network).gsub(network.to_s.upcase, "PLS / #{network.to_s.upcase}").html_safe %></td>
  <td><span class="label"><%= dcp(donation.ags_amount, :pls) %></span> ?</td>
</tr>
<% else %>
<tr>
  <td><%= display_time donation.time %></td>
  <td><%= donation_with_related_addrs(donation).html_safe %></td>
  <td><%= link_to 'tx', external_tx_path(donation.txbits, network), :target => "_blank" %></td>
  <td><%= dcp(donation.amount, network) %></td>
  <td><%= dcp(donation.today_total_donation, network) %></td>
  <td><%= dcp(donation.today_price, network).gsub(network.to_s.upcase, "pls / #{network.to_s.upcase}").html_safe %></td>
  <td><span class="label label-success"><%= dcp(donation.ags_amount, :pls) %></span></td>
</tr>
<% end %>