<% content_for :footer_js do -%>
<script type="text/javascript" charset="utf-8">
var chart_data = <%= @daily_data.to_json.html_safe %>;
var span = Math.max(chart_data.btc.length, chart_data.pts.length)

for (var i = 0; i < ags.neworks.length; i++) {
  var c = ags.neworks[i];

  ags['s_'+c+'_avg'] = Array(span+1).join(chart_data[c+'_avg']+'/').split('/').map(function(c){return Number(c/100000000);});
  ags['s_'+c+'_avg'].pop();
  ags['s_'+c] = [];
  for (var j = 0; j < chart_data[c].length; j++) {
    ags['s_'+c].push(chart_data[c][j].amount/100000000);
  }

  // current price
  ags['price_btc'] = <%= Donation.current_price(:btc) %>;
  ags['price_pts'] = <%= Donation.current_price(:pts) %>;
}

var l_date_c = 'btc';
if (chart_data.btc.length < chart_data.pts.length) {
  l_data_c = 'pts';
}
for (var i = 0; i < chart_data[l_date_c].length; i++) {
  ags.s_date.push( chart_data[l_date_c][i].date );
}
</script>

<% end -%>
<h1>Overview</h1>
<div class="row-fluid">
  <div class="span6">
    <%= render :partial => 'daily_overview', :locals => { :network => :btc } %>
  </div>
  <div class="span6">
    <%= render :partial => 'daily_overview', :locals => { :network => :pts } %>
  </div>
</div>

<h1>Charts </h1>
<div class="row-fluid">
  <div id="chart-container" class="span12"></div>
  <p>Donations made before 2014 are counted as day 1 (2014-01-01) donation.</p>
</div>

<h1>Today's Donation</h1>
<div class="row-fluid">
  <%= render :partial => 'today_donation_table', :locals => { :network => :btc, :donations => @today_btc_nonations } %>
  <%= render :partial => 'today_donation_table', :locals => { :network => :pts, :donations => @today_pts_nonations } %>
</div>

<!-- <h1>Latest AGS Blocks <small>Most recent blocks containing AGS investment transactions</small></h1>
<div class="row-fluid">
  <div id="btc-chart-container" class="span6">
    <%= render :partial => "blocks/tx", :collection => [], :as => 'tx' %>
  </div>
  <div id="pts-chart-container" class="span6">
    <%#= render :partial => "blocks/tx", :collection => [], :as => 'tx' %>
  </div>
</div> -->