<% content_for :footer_js do -%>
<script type="text/javascript" charset="utf-8">
$(function(){
  // current price
  ags['price_btc'] = <%= Donation.current_price(:btc, @date) %>;
  ags['price_pts'] = <%= Donation.current_price(:pts, @date) %>;

  // chart data
  $.get('/series/daily.json', function (chart_data) {
    // Today's ongoing data
    chart_data["btc"].push({
      color: '#ff0000',
      x: Date.parse('<%= DateTime.now.utc.to_date.to_s %>'),
      y: <%= cent2coin(@data[:"today_btc_donated"]) %>
    });

    chart_data['pts'].push({
      color: '#0000ff',
      x: Date.parse('<%= DateTime.now.utc.to_date.to_s %>'),
      y: <%= cent2coin(@data[:"today_pts_donated"]) %>
    });

    var sum_btc = 0, sum_pts = 0;

    for (var i = 0; i < chart_data["btc"].length; i++) {
      d = chart_data["btc"][i];
      sum_btc += (d instanceof Array) ? d[1] : d["y"];
    }

    for (var i = 0; i < chart_data["pts"].length; i++) {
      d = chart_data["pts"][i];
      sum_pts += (d instanceof Array) ? d[1] : d["y"];
    }

    chart_data["btc_avg"] = sum_btc / chart_data["btc"].length;
    chart_data["pts_avg"] = sum_pts / chart_data["pts"].length;

    drawChart('#chart-container', chart_data);
  });

  // ticker
  loadTickers(); setInterval(loadTickers, 60000);
});

</script>

<% end -%>

<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>ANN:</strong> Donator Address algorithm has been updated check <a href="/ags101/algorithm">details</a> here.
</div>
<% if false %>
<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>ANN:</strong> Donation transaction detail link is back online.
</div>

<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Error:</strong> We are experiencing data source difficulties.  Donations made after 2014-02-05 07:27:13 are not synced.  Current Donation stats is not correct.

<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <span style="margin-right:1em;">Happy Chinese New Year!</span> 新春快乐！
</div>

<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Feature:</strong> You can now switch currency view by click currency symbol within in Overview section.
</div>
<% end %>

<table id="ticker" class="table table-striped table-condensed table-hover span1 pull-right">
  <tr>
    <th>BTC/PTS</th>
    <th>USD/BTC</th>
    <th>USD/PTS</th>
  </tr>
  <tr>
    <td id="pts_btc" data-value="0"></td>
    <td id="btc_usd" data-value="0"></td>
    <td id="pts_usd" data-value="0"></td>
  </tr>
</table>

<div class="row" style="text-align:center; width:600px; margin:1em auto;">
    <iframe width="600px" scrolling="no" height="205px" frameborder="0" src="http://ags.lodo.net/counter.php"></iframe>
</div>

<h1>Overview</h1>
<div class="row-fluid">
  <div class="span6">
    <%= render :partial => 'daily_overview', :locals => { :network => :btc } %>
  </div>
  <div class="span6">
    <%= render :partial => 'daily_overview', :locals => { :network => :pts } %>
  </div>
</div>

<div style="margin:1em 0px;">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ags_homepage -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8968072988518706"
     data-ad-slot="8308929285"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

<h1>Charts </h1>
<div class="row-fluid">
  <div id="chart-container" class="span12"></div>
  <p>Donations made before 2014 are counted as day 1 (2014-01-01) donation.</p>
</div>

<h1><%= today(@date) %>'s Donation</h1>
<div class="row-fluid">
  <%= render :partial => 'today_donation_table', :locals => { :network => :btc, :donations => @data[:today_btc_donations] } %>
  <%= render :partial => 'today_donation_table', :locals => { :network => :pts, :donations => @data[:today_pts_donations] } %>
</div>

<% if false %>
<h1>Latest AGS Blocks <small>Most recent blocks containing AGS investment transactions</small></h1>
<div class="row-fluid">
  <div id="btc-chart-container" class="span6">
    <%#= render :partial => "blocks/tx", :collection => [], :as => 'tx' %>
  </div>
  <div id="pts-chart-container" class="span6">
    <%#= render :partial => "blocks/tx", :collection => [], :as => 'tx' %>
  </div>
</div>
<% end %>

<div id="donate_btc" class="modal hide fade" role="dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Donate BTC</h3>
  </div>
  <div class="modal-body">
    <div class="media">
        <img src="http://blockchain.info/qr?data=1ANGELwQwWxMmbdaSWhWLqBEtPTkWb8uDc&amp;size=200" class="pull-left">
        <div class="media-body">
        <h4>AngelShares BTC Donation Address</h4>
        <p>1ANGELwQwWxMmbdaSWhWLqBEtPTkWb8uDc</p>
        <p>&nbsp;</p>
        <p>Source: <br /><a href="https://bitsharestalk.org/index.php?topic=1863.0" target="_blank">Invictus Innovations Inc Announcement Post</a></p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" data-dismiss="modal">Done</a>
  </div>
</div>

<div id="donate_pts" class="modal hide fade" role="dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Donate PTS</h3>
  </div>
  <div class="modal-body">
    <div class="media">
        <img src="https://chart.googleapis.com/chart?cht=qr&amp;chs=200x200&amp;chl=protoshares:PaNGELmZgzRQCKeEKM6ifgTqNkC4ceiAWw&amp;chld=L|1" alt="protoshares:PaNGELmZgzRQCKeEKM6ifgTqNkC4ceiAWw" class="pull-left">
        <div class="media-body">
        <h4>AngelShares PTS Donation Address</h4>
        <p>PaNGELmZgzRQCKeEKM6ifgTqNkC4ceiAWw</p>
        <p>&nbsp;</p>
        <p>Source: <br /><a href="https://bitsharestalk.org/index.php?topic=1863.0" target="_blank">Invictus Innovations Inc Announcement Post</a></p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" data-dismiss="modal">Done</a>
  </div>
</div>