<h1>Balance</h1>
<h4>
  <%= @address %>
  <small class="pull-right">
    <%= link_to "Change to Seperate View", balance_path(@address, view: 'seperate') if @view == "merged" %>
    <%= link_to "Change to Merged View", balance_path(@address, view: 'merged') if @view == "seperate" %>
  </small>
</h4>

<div class="row-fluid">
  <div class="span6">
    <% if @total_donated %>
    <table class="table table-striped table-condensed table-hover" data-network="<%= @network %>">
      <tbody>
        <tr>
          <td>Total Donated</td>
          <td><%= dcp(@total_donated, @network) %></td>
        </tr>
        <tr>
          <td>AGS Amount (Confirmed)</td>
          <td><span class="label label-success"><%= dcp(@total_ags_confirmed, :ags) %></span></td>
        </tr>
        <tr>
          <td>AGS Amount (Unconfirmed)</td>
          <td><span class="label label-warning"><%= dcp(@total_ags_pending, :ags) %></span></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Related Addresses</td>
          <td>
            <% @addresses.each do |address| %>
              <%= link_to address, balance_path(address, view: @view) %><br />
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <% else %>
    <p>no donations found</p>
    <% end %>
  </div>
</div>

<h1>Donation History</h1>
<div class="row-fluid">
  <% unless @donations.blank? %>
  <%= render :partial => 'home/today_donation_table_with_ags',
      :locals => { :network => @network, :donations => @donations }  %>
  <% else %>
  <p>no donations found</p>
  <% end %>
</div>