<% content_for :footer_js do -%>
<script type="text/javascript" charset="utf-8">
  <% if !@donations.blank? && @donations.size > 1 %>
  var chart_data = <%= @donations.reverse.to_json(only: [:time, :amount]).html_safe %>;
  var span = chart_data.length;

  var c = '<%= @network %>';
  // pts => PTS, btc => BTC
  var C = c.toUpperCase();

  ags['s_'+c] = [];
  for (var i = 0; i < span; i++) {
    ags['s_'+c].push(chart_data[i].amount/100000000);
    ags.s_date.push( chart_data[i].time.split('T')[0] );
  }

  // current price
  ags['price_'+c] = <%= @avg_donation_amount %>/100000000;


  $('#chart-container').highcharts({
    chart: {
      zoomType: 'xy'
    },
    title: {
      text: 'Donation History',
      x: -20 //center
    },
    xAxis: {
      categories: ags.s_date
    },
    yAxis: [{
      title: {
        text: 'Amount Donated (' + C + ')'
      },
      plotLines: [{
        value: ags["price_"+c],
        width: 1,
        color: ags['color_'+c],
        dashStyle: 'dash',
        label: {
          text: 'Avg.',
          align: 'left',
          x: 20
        }
      }],
      labels: {
        format: '{value} ' + C,
        style: {
          color: ags['color_'+c]
        }
      }
    }],
    tooltip: {
      shared: true
    },
    legend: {
      layout: 'vertical',
      align: 'left',
      x: 90,
      verticalAlign: 'top',
      y: 30,
      floating: true,
      backgroundColor: '#FFFFFF'
    },
    series: [{
      name: 'Daily ' + C + ' Donation',
      color: ags['color_'+c],
      type: 'column',
      tooltip: {
        valueSuffix: ' ' + C
      },
      data: ags['s_'+c]
    }]
  });
  <% end %>

  // fetch BTSX snapshot balance
  var snapshots = ['btsx','LTS','DNS'];
  var address_spans = $('.donator-address');
  var addresses = $.map(address_spans, function(n,i){ return $(n).attr('data');});
  if (addresses.length > 0) {
    for (var i = 0; i < snapshots.length; i++) {
      var dac = snapshots[i];
      $.getJSON('/genesis/'+dac+'/balance/'+addresses.join('_')+'.json', {}, function(data){
        if (data) {
          var total = 0;
          for (var i = 0; i < data.length; i++) {
            var d = data[i];
            total += d.amount;
            // update each address's bts balance
            $('#addr_'+d.address).append($(' <span class="label label-info">'+display_currency(d.amount/100000000,d.dac)+'</span>').slideDown());
          }

          if (total > 0) {
            // update total bts balance
            $('#ags_amount_total').append(' <span class="label label-info">'+display_currency(total/100000000,d.dac)+'</span>');

            // show/hide bts notice
            $('.bts-notice').slideDown();
          }
        }
      });
    }
  }
</script>
<% end -%>

<h1>Balance</h1>
<h4>
  <%= @address %>
  <% if @addresses && @addresses.size > 1 %>
  <small class="pull-right">
    <%= link_to "Change to Seperate View", balance_path(@address, view: 'seperate') if @view == "merged" %>
    <%= link_to "Change to Merged View", balance_path(@address, view: 'merged') if @view == "seperate" %>
  </small>
  <% end %>
</h4>

<div class="row-fluid">
  <div class="span7">
    <% if @total_donated %>
    <table class="table table-striped table-condensed table-hover" data-network="<%= @network %>">
      <tbody>
        <tr>
          <td>Total Donated</td>
          <td><%= dcp(@total_donated, @network) %></td>
        </tr>
        <tr>
          <td>AGS Amount (Confirmed)</td>
          <td id="ags_amount_total" class="allocation-group"><span class="label label-success"><%= dcp(@total_ags_confirmed, :ags) %></span></td>
        </tr>
        <tr>
          <td>AGS Amount (Unconfirmed)</td>
          <td><span class="label label-warning"><%= dcp(@total_ags_pending, :ags) %></span></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Related Addresses</td>
          <td>
            <% #allow non-ags donator address to lookup bts balance %>
            <% if @addresses.empty? %>
              <% @related_addresses.each do |address| %>
              <div id='addr_<%= address %>' class="allocation-group">
                <span class='label donator-address' data='<%= address %>'><%= address %></span>
              </div>
              <% end %>
            <% else %>
              <% #ags donator address %>
              <% @related_addresses.each do |address| %>
              <div id='addr_<%= address %>' class="allocation-group">
                <%= link_to balance_path(address, view: @view) do
                @addresses.include?(address) ? "<span class='label label-success donator-address' data='#{address}'>#{address}</span>".html_safe : address
                end%>
              </div>
              <% end %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <p><span class="label label-success">Highlighted</span> addresses are recognized as DONATOR ADDRESSES.  These are the addresses that will be embedded within Genesis Blocks of future Invictus DAC chains. <a href="/ags101/algorithm" target="_blank">Check out more here</a>.</p>

    <p><span class="label label-warning">Unconfirmed</span> AGS amount is about your donation made today.  AGS amount rewared is settled each day, until then the amount is about to change while total donation keeps increasing.</p>

    <p class="bts-notice hide"><span class="label label-info">BTS Highlighted</span> are BTS initial balance of your address after Feb 28, 2014 snapshot.  BTS balance originates from AGS donations and PTS holdings.  Data extracted from <a href="https://bitsharestalk.org/index.php?topic=3330.0" target="_blank">here</a>. (BTS reward for Keyhotee Founder keys are not included yet.)</p>

    <p><span class="label">Non-AGS Donator Address</span> is shown here for BTS lookup.  Since it has no AGS donation records, AGS amount is always zero.</p>

    <% else %>
    <p>no donations found</p>
    <% end %>
  </div>
  <div class="span5" style="text-align:right;">
    <% if Rails.env.production? %>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- ags_balance_page_higher -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:336px;height:280px"
         data-ad-client="ca-pub-8968072988518706"
         data-ad-slot="4798779280"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <% end %>
  </div>
</div>

<% if !@donations.blank? && @donations.size > 1 %>
<h1>Charts </h1>
<div class="row-fluid">
  <div id="chart-container" class="span12"></div>
</div>
<% end %>

<h1>Donation History</h1>
<div class="row-fluid">
  <% unless @donations.blank? %>
  <%= render :partial => 'home/today_donation_table_with_ags',
      :locals => { :network => @network, :donations => @donations }  %>
  <% else %>
  <p>no donations found</p>
  <% end %>
</div>
